
/**************************************************************
* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
* License: none (public domain)
***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/**************************************************************
* HTML5 display-role reset for older browsers
***************************************************************/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************************************************
* Base styles
***************************************************************/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman','sans-serif';
    font-size: 16px;
    line-height: 22px;
    background-color: #333;
    color: #999
}

a {
    text-decoration: none;
    color: #648880;
}

a:hover {
    color: #a9b2b9;
}
/**************************************************************
* Clearfix
***************************************************************/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
/**************************************************************
* PRACTICE
***************************************************************/

/* Transform 2D demo */
.one {
  border: 4px solid salmon;
  /* display: flex; */
  /* overflow: auto; */
}
.rotate-A {
  transform: rotate(-25deg);
  border: 4px solid lime;
  width: 6%;
  border-radius: 5px;
}
.rotate-B {
  transform: rotate(25deg);
  border: 4px solid lime;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}

/* Scale demo */
.scale-A {
  transform: scale(.75);
  border: 4px solid gold;
  width: 6%;
  border-radius: 5px;
}
.scale-B {
  transform: scale(1.71);
  border: 4px solid gold;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}

/* Scale width & height separately */

.scale-C {
  transform: scale(.75, 1.75);
  border: 4px solid gold;
  width: 6%;
  border-radius: 5px;
}
.scale-D {
  transform: scale(1.75, .75);
  border: 4px solid gold;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}

/* Translate demo */

.translate-A {
  transform: translateX(200px);
  border: 4px solid green;
  width: 6%;
  border-radius: 5px;
}
.translate-B {
  transform: translate(200px, -300px);
  border: 4px solid green;
  width: 6%;
  border-radius: 5px;
}

/* Skew demo */

.skew-A {
  transform: skewX(35deg);
  border: 4px solid #648880;
  width: 6%;
  border-radius: 5px;
}
.skew-B {
  transform: skewY(35deg);
  border: 4px solid #648880;
  width: 6%;
  border-radius: 5px;
}
.skew-C {
  transform: skew(-35deg, -35deg);
  border: 4px solid #648880;
  width: 6%;
  border-radius: 5px;
}

/* Combining multiple transform values */

.combo-A {
  transform: rotate(25deg) scale(.75);
  border: 4px solid #648880;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;

}
.combo-B {
  transform: skew(20deg, 20deg) translate(20px, 20px);
  border: 4px solid #648880;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}

.matrix-A {
  transform: matrix(10.0, 2.0, 3.0, 10.0, 800.0, -150.0);
  border: 4px solid firebrick;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}

/* Cube demo */

.two {
  position: relative;
  right: -50%;
}

.edge {
  height: 50px;
  width: 50px;
  position: absolute;
}

.top {
  background-color: fuchsia;
  transform: rotate(-45deg) skew(15deg, 15deg);
  text-align: center;
  color: dodgerblue;
}

.left {
  background-color: plum;
  transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
  text-align: center;
  color: dodgerblue;
}

.right {
  background-color: darkorchid;
  transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
  text-align: center;
  color: dodgerblue;
}

/* transform-origin demo */

.origin-A {
  transform: rotate(15deg);
  transform-origin: 0 0;
  border: 4px solid burlywood;
  width: 6%;
  border-radius: 5px;
}
.origin-B {
  transform: scale(.5);
  transform-origin: 100 100;
  border: 4px solid burlywood;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}
.origin-C {
  transform: skew(20deg);
  transform-origin: 0 0;
  border: 4px solid burlywood;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}
.origin-D {
  transform: scale(.75) translate(20px, 20px);
  transform-origin: 100 100;
  border: 4px solid burlywood;
  width: 6%;
  border-radius: 5px;
  margin-left: 8%;
}

/* Translate 3D demo */

/* .perspective-A {
  border: 4px solid dodgerblue;
  width: 9%;
  border-radius: 5px;
  transform: perspective(50px) rotateX(-45deg);
} */

.three {
  transform: perspective(50px);
}
.perspective-A {
  border: 4px solid dodgerblue;
  width: 9%;
  border-radius: 5px;
  transform: rotateX(-45deg);
}

/* Perspective-origin demo */
.four {
  perspective: 200px;
}

.box {
  transform: rotateX(45deg);

}

.origin-X {
  perspective-origin: 0 0;
  border: 4px solid dodgerblue;
  width: 9%;
  border-radius: 5px;
}
.origin-Y {
  perspective-origin: 75% 75%;
  border: 4px solid dodgerblue;
  width: 9%;
  border-radius: 5px;
}
.origin-Z {
  perspective-origin: 20px 40px;
  border: 4px solid dodgerblue;
  width: 9%;
  border-radius: 5px;
}

/* Transform 3D Rotate */

.five {
  display: flex;
  justify-content: center;
}

.rotate3d-X {
  border: 4px solid peru;
  width: 9%;
  border-radius: 5px;
  transform: perspective(200px) rotateX(45deg);
}
.rotate3d-Y {
  border: 4px solid peru;
  width: 9%;
  border-radius: 5px;
  transform: perspective(200px) rotateY(45deg);
}
.rotate3d-Z {
  border: 4px solid peru;
  width: 9%;
  border-radius: 5px;
  transform: perspective(200px) rotateZ(45deg);
}

/* Transform 3D Scale */

.scale3d-A {
  border: 4px solid powderblue;
  width: 9%;
  border-radius: 5px;
  transform: perspective(200px) scaleZ(5.75) rotateX(45deg);
}

.scale3d-B {
  border: 4px solid powderblue;
  width: 9%;
  border-radius: 5px;
  transform: perspective(200px) scaleZ(.05) rotateX(45deg);
}

/* Transform 3D translate */

.translate3d-A {
  border: 4px solid peachpuff;
  width: 9%;
  border-radius: 5px;
  transform: perspective(200px) translateZ(-50px);
}

.translate3d-B {
  border: 4px solid peachpuff;
  width: 9%;
  border-radius: 5px;
  transform: perspective(200px) translateZ(50px);
}

/* Transform-style demo */

.rotate {
  transform: perspective(200px) rotateY(-25deg);
}
.three-d {
  transform-style: preserve-3d;
}
.transform-style3d {
  border: 4px solid peachpuff;
  width: 25%;
  border-radius: 5px;
  transform: rotateX(15deg) translateZ(20px);
  transform-origin: 0 0;
}