
/**************************************************************
* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
* License: none (public domain)
***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/**************************************************************
* HTML5 display-role reset for older browsers
***************************************************************/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**************************************************************
* Custom styles
***************************************************************/
body {
    background: #333;
    color: #999;
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4rem;
    /* border: 2px solid red; */
} 

/**************************************************************
* Grid
***************************************************************/
*, 
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container, 
.grid {
    margin: 0 auto;
    width: 60em;
    /* border: 2px solid red; */
}

.container {
    padding: 0 1.9rem;
    /* border: 2px solid red; */
}

.grid,
.onethird-column,
.twothird-column {
    padding: 0 1rem;
    /* border: 2px solid red; */

}

.onethird-column, 
.twothird-column {
    display: inline-block;
    vertical-align: top;
}

.onethird-column {
    width: 33.3333%;
}

.twothird-column {
    width: 66.6666%;
}   
/**************************************************************
* Clearfix
***************************************************************/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
/**************************************************************
* Typography
***************************************************************/
strong {
    font-weight: 400;
}
cite, em {
    font-style: italic;
}
h1, h3, h4, h5, p {
    margin-bottom: 1.4rem;
    /* border: 2px solid red; */
}
h1, h2, h3, h4 {
    color: #648880;
}
h1 {
    font-size: 2.3rem;
    line-height: 2.75rem;
    /* border: 2px solid red; */
}
h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    /* border: 2px solid red; */
}
h3 {
    font-size: 1.3rem;
    /* border: 2px solid red; */
}
h4 {
    font-size: 18px;
    /* border: 2px solid red; */
}
h5 {
    color: #648880;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
/**************************************************************
* Links
***************************************************************/
a {
    text-decoration: none;
    color: #a9b2b9;
}

a:hover {
    color: #648880;
}

.teaser a:hover h3 {
    color: #999
}
/**************************************************************
* Buttons
***************************************************************/
.btn {
    display: inline-block;
    border-radius: 5px;
    margin: 0;
}

.btn-alt {
    border: 1px solid #648880;
    padding: 10px 30px;
    /* padding: 1rem 3rem; */
}
/**************************************************************
* Header
***************************************************************/
.logo {
    font-family: 'Lato';
    float: left;
    border-top: 4px solid #648880;
    font-weight: 100;
    text-transform: uppercase;
    padding: 2.5rem 0 1.3rem 0;
    letter-spacing: .5px;
    /* border: 2px solid red; */
}

.tagline {
    margin: 4.15rem 0 1.4rem 0;
    text-align: right;
    /* border: 2px solid red; */

}
/**************************************************************
* Nav
***************************************************************/
.nav {
    font-weight: 400;
    font-size: 0.9rem;
    text-align: right;
    font-variant: small-caps;
    letter-spacing: .5px;
    /* border: 2px solid red; */
}
/**************************************************************
* Footer
***************************************************************/
.primary-footer {
    color: #648880;
    font-size: 0.9rem;
    padding: 2.75rem 0;
    /* border: 2px solid red; */
}

.primary-footer > p {
    float: left;
    font-weight: 400;
    /* border: 2px solid rebeccapurple; */
}
/**************************************************************
* Main
***************************************************************/

.hero {
    line-height: 2.75rem;
    padding: 1.4rem 5rem 4.15rem 5rem;
    text-align: center;
    /* border: 2px solid red; */
}

.hero p {
    font-size: 1.5rem;
    font-weight: 100;
}