
/**************************************************************
* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
* License: none (public domain)
***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/**************************************************************
* HTML5 display-role reset for older browsers
***************************************************************/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************************************************
* Base styles
***************************************************************/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman','sans-serif';
    font-size: 16px;
    line-height: 22px;
    background-color: #333;
    color: #999
}

a {
    text-decoration: none;
    color: #648880;
}

a:hover {
    color: #a9b2b9;
}
/**************************************************************
* Clearfix
***************************************************************/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
/**************************************************************
* PRACTICE
***************************************************************/

/* Containing floats  */

.one {
    background-color: #999;
    border: 2px solid red;
    overflow:auto;
}

.box {
    float: left;
    margin: 1.9%;
    width: 29%;
    background-color: lime;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 15px 20px #ff7b29;
}

/* Clearfix technique  */

.two {
    border: 2px solid fuchsia;
    background-color: #888;
}

/* Static position  */

.three .box {
    width: 80px;
    height: 80px;
}

/* Relative position  */

.four .box {
    position: relative;
    width: 80px;
    height: 80px;
    /* border: 2px solid red; */
}

.four .box:nth-child(+1) {
    /* border: 2px solid white; */
    top: 20px;
}

.four .box:nth-child(+2) {
    /* border: 2px solid dodgerblue; */
    left: 40px;
}

.four .box:nth-child(+3) {
    /* border: 2px solid navy; */
    bottom: -20px;
    right: 20px;
}

/* Absolute position  */

.five .box {
    position: absolute;
    width: 80px;
    height: 80px;
}

.five .box:nth-child(+1) {
    /* border: 2px solid white; */
    top: 6%;
    left: 2%;
}

.five .box:nth-child(+2) {
    /* border: 2px solid dodgerblue; */
    top: 0;
    left: -40px;
}

.five .box:nth-child(+3) {
    /* border: 2px solid navy; */
    bottom: -20px;
    right: 30px;
}

/* Fixed position  */

.six .box {
    position: fixed;
    width: 80px;
    height: 80px;
}

.six .box:nth-child(+1) {
    /* border: 2px solid white; */
    top: 28%;
    left: 20%;
    background-color: red;
}

.six .box:nth-child(+2) {
    /* border: 2px solid dodgerblue; */
    top: 0;
    left: 40px;
    background-color: red;
}

.six .box:nth-child(+3) {
    /* border: 2px solid navy; */
    bottom: -45px;
    right: 65px;
    background-color: red;
}

/* FIXED FOOTER */

.seven {
    position: fixed;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lime;
    border: 2px solid lime;
    color: #fff;
    text-align: center;
}

/* Z-index */

.eight .box {
    position: absolute;
    width: 80px;
    height: 80px
}

.eight .box:nth-child(+1) {
    /* border: 2px solid white; */
    bottom: 10px;
    left: 10px;
    background-color: gold;
    z-index: 3;
}

.eight .box:nth-child(+2) {
    /* border: 2px solid dodgerblue; */
    bottom: 40px;
    left: 40px;
    background-color: gold;
    z-index: 3;
}

.eight .box:nth-child(+3) {
    /* border: 2px solid navy; */
    bottom: 70px;
    left: 70px;
    background-color: gold;
    z-index: 1;
}