/**************************************************************
* Clearfix
***************************************************************/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}

/**************************************************************
* Base
***************************************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'),
	  url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
		format('woff2');
	font-display: swap;
}

body {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    font-size: 1rem;
    overflow: auto;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
} 
a {
	color: black;
}
/**************************************************************
* Header
***************************************************************/
.nav-wrapper {
	background-color: #FFFFFF !important;
	padding: 0 1rem;
}
.nav-wrapper a {
	color: #000000;
}
.brand-logo {
	font-family: 'Lato';
	font-weight: 400;
}
.header-container {
	background-color: rgba(115, 115, 115, 0.05);
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.header-background {
	height: 25vh;
	width: 100vw;
	background-image: url('./images/HTC_Heritage\ Library_Peachy\ Peaches\ 03Element\ 7.webp');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 1rem;
}
.header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1rem;
	text-align: center;
}
.header-text h1 {
	font-size: 4rem;
	margin-bottom: 0;
}
.header-btn-container .btn {
	border-radius: 40px;
	margin: 0.25rem 0;
}
.header-social-stats .fab {
	padding-left: 2rem;
	cursor: pointer;
}
.header-btn-container .transparent {
	color: black;
}
.stat {
	cursor: pointer;
}
.fa-facebook-f:hover,
.social-stat:hover .fa-facebook-f {
	color: #1877f2;
}
.fa-twitter:hover,
.social-stat:hover .fa-twitter  {
	color: dodgerblue;
}
.fa-instagram:hover,
.social-stat:hover .fa-instagram {
	color: #C13584;
}
/**************************************************************
* Main
***************************************************************/
/**************************************************************
* About us
***************************************************************/
.about-us-background-one {
	height: 25vh;
	width: 100vw;
	background-image: url('./images/HTC_Heritage\ Library_Peachy\ Peaches\ 03Element\ 3.webp');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 1rem 0;
}
.about-us-background-two {
	height: 25vh;
	width: 100vw;
	background-image: url('./images/HTC_Heritage\ Library_Peachy\ Peaches\ 03Element\ 4.webp');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 1rem 0;
}
.about-us-text {
	padding: 0 1rem;
}
.about-us-text h2 {
	margin-top: 0;
	margin-bottom: 0;
}
.about-us-text span {
	color: orange;
	font-weight: 700;
}
.about-us-btn-container {
	text-align: center;
}
.about-us-btn-container .orange {
	border-radius: 40px 0 0 4px;
}
.about-us-btn-container .yellow {
	border-radius: 0 4px 40px 0;
}
/**************************************************************
* Menu
***************************************************************/
.menu-container {
	background-color: rgba(115, 115, 115, 0.05);
}
.menu-text {
	padding-top: 3rem;
	text-align: center;
}
.menu-text span {
	color: orange;
	font-weight: 700;
}
.menu-text h2 {
	margin-top: 0;
	margin-bottom: 0;
}
.carousel-item span {
	text-align: center;
	display: block;
	border: 1px solid rgba(115, 115, 115, 0.25);
	padding: 0;
	margin: 0;
	border-radius: 40px;
}
/**************************************************************
* Contact us
***************************************************************/
.contact-us-container {
	padding: 0 1rem;
}
/**************************************************************
* Footer
***************************************************************/
/* .footer {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	border-top: 1px solid #000;
}
.icon-container {
	display: flex;
	justify-content: center;
}
.icon-container li {
	margin: 1rem 1rem 0 1rem;
}
.copyright-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.copyright-container span {
	margin: 0.25rem 0;
}
.footer .fa-twitter:hover {
	color: dodgerblue;
}
.footer .fa-github:hover {
	color: #D5D5D5;
}
.footer .fab, .footer .fa {
	color: #000000;
} */
/**************************************************************
* Media queries
***************************************************************/
@media screen and (min-device-width: 565px) {
	/* header  */
	.header-container {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	.header-background {
		background-position: right;
		height: 75vh;
		width: 50vw;
		background-size: contain;
	}

	/* main */
	.about-us-container {
		display: flex;
		padding-top: 1rem;
	}
	.about-us-background-one {
		background-position: top;
		height: 75vh;
		width: 50vw;
		background-size: contain;
		margin: 0;
		padding: 0;

	}
	.about-us-background-two {
		background-position: bottom;
		height: 75vh;
		width: 50vw;
		background-size: contain;
		margin: 0;
		padding: 0;
	}
	.about-us-text {
		padding: 0 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.about-us-btn-container {
		text-align: left;
	}

	/* footer */
	/* .copyright-container {
		flex-direction: row;
		justify-content: space-around;
	} */
}

/* @media screen and (min-device-width: 1024px) {

} */