
/**************************************************************
* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
* License: none (public domain)
***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/**************************************************************
* HTML5 display-role reset for older browsers
***************************************************************/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************************************************
* Base styles
***************************************************************/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*  scroll down to mobile first
body {
    font-family: 'Times New Roman','sans-serif';
    font-size: 16px;
    line-height: 22px;
    background-color: #333;
    color: #999
} */

a {
    text-decoration: none;
    color: #648880;
}

a:hover {
    color: #a9b2b9;
}
/**************************************************************
* Clearfix
***************************************************************/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
/**************************************************************
* PRACTICE
***************************************************************/

/* Two-column layout with relative unit lengths 

Go down to mobile first*/

/* .one {
    width: 538px;
    border: 1px solid red;
} */

/* .one section,
.one aside {
    margin: 1.9%;
    border: 2px solid green;
    background-color: #2db34a;
    color: #fff;
    border-radius: 5px;
} */

/* .one section {
    float: left;
    width: 63%;
} */

/* .one aside {
    float: right;
    width: 29%;
} */

.full {
    width: 100%;
}

.oneqtdown {
    width: 75%;
}

.twoqtdown {
    width: 50%;
}

.threeqtdown {
    width: 25%;
}

/* logical operator & media query  */

/* the expression applies to any device that does not have a color screen. Black and white or monochrome screens would apply here for example. */
@media not screen and (color) {

}

/* the expression applies a style only to screens and when display is taller than wider */
@media only screen and (orientation: portrait) {

}

/* the expression applies a style to all and when display is wider than taller  */
@media all and (orientation: landscape) {

}

/* the expression applies a style to all and when display is wider than taller  */
@media all and (aspect-ratio: 16/9) {

}

/* Flexible layout & media queries  */

/* @media all and (max-width: 420px) {
    .one section,
    .one aside {
      float: none;
      width: auto;
    }
} */

/* Mobile first - Default styles first then media queries scaling up */
@media screen and (min-width: 400px)  {

}
@media screen and (min-width: 600px)  {

}
@media screen and (min-width: 1000px) {

}
@media screen and (min-width: 1400px) {

}

/* Mobile first - Default style first then add media scaling up */
body {
    font-family: 'Times New Roman','sans-serif';
    font-size: 16px;
    line-height: 22px;
    background-color: #999;
    color: #fff;
}
@media screen and (min-width: 420px) {
    body {
      background-color: #999;
    }
    .one {
        width: 538px;
        /* border: 1px solid red; */
    }
    .one section,
    .one aside {
        margin: 1.9%;
        border: 2px solid green;
        background-color: #2db34a;
        color: #fff;
        border-radius: 5px;
    }
    .one section {
        float: left;
        width: 63%;
    }
    .one aside {
        float: right;
        width: 29%;
    }
}
@media screen and (min-width: 600px) {
    body {
      background-color: #777;
    }
}
@media screen and (min-width: 1000px) {
    body {
      background: url("pexels-scott-webb-593158.jpg") 50% 50% no-repeat;
    }
}
@media screen and (min-width: 1400px) {
    body {
        background: url("pexels-scott-webb-593158.jpg") 50% 50% no-repeat;
    }
}

/* Flexible media  */

.full-media img {
    max-width: 100%;
}

.threeqtdown-media img{
    max-width: 25%;
}

/* Embedded media  */

.two {
    height: 0;
    padding-bottom: 45%;
    position: relative;
    width: 100%;
}

.two iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}